[Unit]
Description=Restore MMDVM log files at startup
After=default.target
Before=mmdvmhost.service

[Service]
Type=simple
ExecStart=/home/pi-star/pistar-mmdvm-log-restore-reboot -r
TimeoutStartSec=0

[Install]
WantedBy=default.target

